@model ManagementSystem.Models.w_tenant

@{
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Are you sure you want to delete this?</h3>
        <div>
          <h4>w_tenant</h4>
          <hr />
          <dl class="dl-horizontal">
            <dt>
              @Html.DisplayNameFor(model => model.username)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.username)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.roomnumber)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.roomnumber)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.rent)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.rent)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.isPayed)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.isPayed)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.IdCardNumber)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.IdCardNumber)
            </dd>

          </dl>

          @using (Html.BeginForm())
          {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
              <input type="submit" value="Delete" class="btn btn-danger" /> |
              @Html.ActionLink("取消", "Index")
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</body>
</html>
