@model IEnumerable<ManagementSystem.Models.w_system_params>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}

<div class="container-fluid">
  <div class="row cm-fix-height">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h2>系统参数管理</h2></div>
        <div class="panel-body">
          <form action="" method="get">
            <div class="col-md-2" style="line-height:34px;">请选择参数类别：</div>
            <div class="col-md-4">
              <select name="type" class="form-control">
                <option value="">全部</option>
                <option value="功能信息">功能信息</option>
                <option value="单元信息">单元信息</option>
                <option value="装修标准">装修标准</option>
                <option value="朝向信息">朝向信息</option>
              </select>
            </div>
            <div class="col-md-4"><input type="submit" class="btn btn-primary" value="查询" /></div>
          </form>
        </div>
        <table class="table">
          <thead>
            <tr style="text-align:center;">
              <th>
                @Html.DisplayNameFor(model => model.code)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.name)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.type)
              </th>
              <th>操作</th>
            </tr>
          </thead>
          @if(Model.Count()<1)
          {
           <tr class="info">
             <th colspan="4" style="text-align:center;">无数据</th>
           </tr> 
          }
          @foreach (var item in Model)
          {
            <tr class="info">
              <td>
                @Html.DisplayFor(modelItem => item.code)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.name)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.type)
              </td>
              <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.id }) |
                <a href="/System/DeleteConfirmed/@item.id" onclick="return confirm('确定删除？')">删除</a>
              </td>
            </tr>
          }

        </table>

        <form action="/System/Create" style="margin-top:40px;" method="post">
          <table class="table">
            <tr>
              <td align="right">代码：</td>
              <td>
                <input class="form-control" value="" required name="code" />
              </td>
            </tr>
            <tr>
              <td align="right">名称：</td>
              <td>
                <input class="form-control" value="" required name="name" />
              </td>
            </tr>

            <tr>
              <td align="right">类型：</td>
              <td>
                <select name="type" class="form-control">
                  <option value="">全部</option>
                  <option value="功能信息">功能信息</option>
                  <option value="单元信息">单元信息</option>
                  <option value="装修标准">装修标准</option>
                  <option value="朝向信息">朝向信息</option>
                </select>
              </td>
            </tr>

            <tr>
              <td></td>
              <td colspan="2" align="center">
                <input type="submit" value="保存" class="btn btn-success" style="width:20%;" />
              </td>
            </tr>
          </table>
        </form>
      </div>

    </div>
  </div>
</div>
